.main-layout {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 250px 1fr 80px;
    grid-template: 50px 1fr 50px / repeat(9, 1fr);
    gap: 2px;
    padding: 2px;
    box-sizing: border-box;

    .header {
        grid-column-start: 1;
        grid-column-end: 10;
        height: 100%;
    }

    .side-bar {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: span 3;
    }

    .main-body-content{
        grid-row-start: 2;
        grid-row-end: span 3;
        grid-column-start: 2;
        grid-column-end: 10;
        border: 2px solid black;
        overflow: scroll;
    }


    .footer {
        grid-column: 1 / span 10;
        height: 100%;
    }
}