
<mat-tab-group>
  <mat-tab label="HPTU Pillars Performance"> 
    
<div class="pillars-content">

  <div class="pillars-table-content">
    <mat-toolbar>
      <span>Pillars</span>
      <span class="pillar-toolbar-spacer"></span>
      <button mat-raised-button (click)="openNewPillarDialog()">
        Add New Pillar
      </button>
    </mat-toolbar>

    <div class="pillars-table">
      <mat-form-field>
        <mat-label>Filter by: Pillar Name</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Type Here" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="pillarName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Assessment Pillar </th>
          <td mat-cell *matCellDef="let row"> {{row.pillarName}} </td>
        </ng-container>

        <!-- pillarCategoryCount Column -->
        <ng-container matColumnDef="pillarCategoryCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Category Count </th>
          <td mat-cell *matCellDef="let row"> {{row.pillarCategoryCount}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="openEditPillarDialog(row)" #tooltip="matTooltip"
            matTooltip="Edit pillar" matTooltipPosition="above"
            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="openPillarCategories(row.id)" #tooltip="matTooltip"
            matTooltip="View pillar details" matTooltipPosition="above"
            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
              <mat-icon color="primary">launch</mat-icon>
            </button>
            <button mat-icon-button (click)="deletePillar(row.id)" #tooltip="matTooltip"
              matTooltip="Delete pillar" matTooltipPosition="above"
              aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" aria-label="Select page of pillars"></mat-paginator>


    </div>

  </div>
</div>
  </mat-tab>
  <mat-tab label="HPTU Functionality Performance"> 
    <div fxLayout="column" fxLayoutAlign="start center">
      <div fxLayout="row" fxLayoutAlign="end center" style="width: 100%;">
        <button mat-raised-button color="primary" (click)="openNewFunctionalityDialog()">Add Functionality</button>
      </div>
      <table mat-table [dataSource]="functionalities" class="mat-elevation-z8" style="width: 100%;">
    
        <!-- HPTU Name Column -->
        <ng-container matColumnDef="hptuName">
          <th mat-header-cell *matHeaderCellDef> HPTU Name </th>
          <td mat-cell *matCellDef="let element"> {{element.hptuName}} </td>
        </ng-container>
    
        <!-- Functionality Order Column -->
        <ng-container matColumnDef="functionalityOrder">
          <th mat-header-cell *matHeaderCellDef> Order </th>
          <td mat-cell *matCellDef="let element"> {{element.functionalityOrder}} </td>
        </ng-container>
    
        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
    
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="deleteFunctionality(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button (click)="addQuestionSummary(element.id)" #tooltip="matTooltip"
            matTooltip="Add Assessment Questions" matTooltipPosition="above"
            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
              <mat-icon color="primary">add</mat-icon>
            </button>
            <button mat-icon-button (click)="viewQuestionSummary(element)" #tooltip="matTooltip"
            matTooltip="View Questions" matTooltipPosition="above"
            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
              <mat-icon color="primary">launch</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="functionalityDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: functionalityDisplayedColumns;"></tr>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>

