.pillars-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pillar-toolbar-spacer {
    flex: 1 1 auto;
}

.pillars-table-content {
    width: 100%;
    height: 100%;
}

.pillars-table-content mat-toolbar {
    border-bottom: 1px #266fe4 solid;
    margin-bottom: 20px;
    overflow: hidden;
}

.pillars-table-content mat-toolbar button{
    color: aliceblue;
    background-color: #266fe4;
    margin: 10px auto;
}

.pillars-table-content .pillars-table {
    border-bottom: 1px #266fe4 solid;
}

.pillars-table-content .pillars-table mat-form-field {
    border-top: 1px #266fe4 solid;
    border-radius: 4px;
}

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}