.pass-change-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #afbdd3;
  }
  mat-card {
        max-width: 600px;
        margin: 2em auto;
        text-align: center;
      }
      mat-form-field {
        display: block;
      }
      
     img {
      width: 100%;
      margin-bottom: 50px;
     } 