<div class="create-new-Pillar-content">
    <div mat-dialog-title class="form-header">
      <h2>Edit Assessment Pillar</h2>
    </div>
    <div>
    <form [formGroup]="createPillarCategoryForm" (ngSubmit)="onSubmitEditPillarCategory()">
    <div mat-dialog-content class="form-fields">
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Category Name</mat-label>
          <input matInput type="text" formControlName="category">
        </mat-form-field>
      </div>
      <div class="form-row">  
        <mat-form-field appearance="outline">
          <mat-label>Category Order</mat-label>
          <input matInput type="number" formControlName="categoryOrder">
        </mat-form-field>
      </div>

      <div class="form-row">  
        <mat-form-field appearance="outline">
          <mat-label>Choice One</mat-label>
          <textarea matInput type="text" formControlName="choiceOne"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Choice One Score</mat-label>
            <input matInput type="number" formControlName="choiceOneScore">
          </mat-form-field>
      </div>

      <div class="form-row">  
        <mat-form-field appearance="outline">
          <mat-label>Choice Two</mat-label>
          <input matInput type="text" formControlName="choiceTwo">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Choice Two Score</mat-label>
            <input matInput type="number" formControlName="choiceTwoScore">
          </mat-form-field>
      </div>

      <div class="form-row">  
        <mat-form-field appearance="outline">
          <mat-label>Choice Three</mat-label>
          <input matInput type="text" formControlName="choiceThree">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Choice Three Score</mat-label>
            <input matInput type="number" formControlName="choiceThreeScore">
          </mat-form-field>
      </div>

      <div class="form-row">  
        <mat-form-field appearance="outline">
          <mat-label>Choice Four</mat-label>
          <input matInput type="text" formControlName="choiceFour">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Choice Four Score</mat-label>
            <input matInput type="number" formControlName="choiceFourScore">
          </mat-form-field>
      </div>
  
    </div>
    <div mat-dialog-actions align="end" class="form-btns">
      <button mat-raised-button mat-dialog-close>Cancel</button>
      <button mat-raised-button cdkFocusInitial type="submit">Submit</button>
    </div>
  </form>
  </div>
  </div>
  