<div class="sidebar">
  <a [routerLinkActive]="'active'" [routerLink]="['dashboard']">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </a>
  <a [routerLinkActive]="'active'" [routerLink]="['county-assessments']">
    <mat-icon>casino</mat-icon>
    <span>Assessments</span>
  </a>
  <a *ngIf="isUserAdmin" [routerLinkActive]="'active'" [routerLink]="['assessment-setup/pillars']">
    <mat-icon>settings</mat-icon>
    <span>Configuration</span>
  </a>
  <a *ngIf="isUserAdmin" [routerLinkActive]="'active'" [routerLink]="['users']">
    <mat-icon>person</mat-icon>
    <span>Users</span>
  </a>
</div>