<div class="pillar-summary-items">
    @for (pillar of pillarSummaries; track pillar) {
    <div [ngClass]="pillar.ngClassStr">
        <div class="score-summary">
            <div class="pillar-name">{{pillar.pillarName}}</div>
            <div class="pillar-score">{{pillar.choiceScore}}/{{pillar.maxScore}}</div>
        </div>
        <div class="details-btn">
            <a (click)="openPillarDetails(pillar)">
                View Details
            </a>
        </div>
    </div>
    } @empty {
    Empty list of Pillars
    }
</div>