
.dashboard-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;


    .main-assessment-graph {
        border: 1px solid red;
        padding: 10px;
        flex: 40%;
    }

    .main-assessment-summary-table {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid yellow;
        padding: 10px;
        flex: 60%;

        .pillar-toolbar-spacer {
            flex: 1 1 auto;
        }

        .pillars-summary-table-content {
            width: 100%;
            height: 100%;
        }

        .pillars-summary-table-content mat-toolbar {
            border-bottom: 1px #266fe4 solid;
            margin-bottom: 20px;
            overflow: hidden;
        }

        .pillars-summary-table-content mat-toolbar button {
            color: aliceblue;
            background-color: #266fe4;
            margin: 10px auto;
        }

        .pillars-summary-table-content .pillars-summary-table {
            border-bottom: 1px #266fe4 solid;
        }

        .pillars-summary-table-content .pillars-summary-table mat-form-field {
            border-top: 1px #266fe4 solid;
            border-radius: 4px;
        }

        table {
            width: 100%;
        }

        .mat-mdc-form-field {
            font-size: 14px;
            width: 100%;
        }

        td,
        th {
            width: 20%;
        }
    }
}